body{
    margin: 0;
}

.botonav{
    width:90px;
    height: 45px;
    border-radius: 5px;
    border-style: none;
    background-color: hsl(338, 5%, 85%);;
}

.botonred{
    width: auto;
    height: 50px;
}

.aboutme{
    height: 35px;
    border-style: none;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}


.botones{
    border-style: none;
    padding: 0px;
}

#barrared{
    display: flex;
    padding: 0px;
    flex-direction: column;
    gap: 35px;
}

.barranav {
  width: auto;
  height: auto;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.info{
    font-family: Figtree;
}



.grid-container {
    display: grid;
    grid-row: 1;
    height: 100vh;
    width: 100% ;
  grid-template-columns: repeat(10,1fr); /* 2 columnas iguales */  
}

.redes{
    display:flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    grid-row: 1;
    background-color: rgb(0, 0, 0);
}

.presentacion {
    background-color: rgb(241, 234, 220);
    padding-top: 200px;
    grid-column: 2/7;
    grid-row: 1;
  text-align: center;
}

.imagen{
    grid-column: 7/11;
    grid-row: 1;
}

#nombre{
    font-family: Honk;
    font-size:65px;
}


